.brand-logo {
	margin-left: 15px
}

.clear {
   clear: both;
}

.nav-logo {
   max-height: 64px;
}

.full-background {
	background: url(../data/images/wp3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.padding-right {
   padding-right: 20px;
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
