.brand-logo {
	margin-left: 15px
}

.clear {
   clear: both;
}

.nav-logo {
   max-height: 64px;
}

.full-background {
	background: url(../data/images/wp3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.padding-right {
   padding-right: 20px;
}


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	font-family: $font !important;
}

::-moz-selection {
 background: $selection;
 color: $selection-content;
 text-shadow: none;
}
::selection {
	background: $selection;
	color: $selection-content;
	text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 200;
}

main {
	flex: 1 0 auto;
}

.l-ico {
	margin-right: 15px;
	margin-left: 15px;
}

.l-ico:hover {
	color: $icon-hover;
	cursor: pointer;
}

#ktn {
	width: 100px;
	cursor: pointer;
}

#ktn-main {
	width: 137px;
	margin-bottom: -10px;
	margin-top: 10px;
}

#ktn-container {
	margin-bottom: -5px;
}

.collection-item:hover {
	cursor: pointer;
}

.opt:hover {
	font-weight: bold;
}

#timer-chip {
	margin-left: 5px;
}

.nav-logo {
	padding-top: 10px;
	padding-bottom: 10px;
}

.go {
	font-family: $go-font;
}

input[type="text"] {
	font-size: 2em !important;
}

#game-over-modal {
	background-color: transparent !important;
	color: white !important;
	.modal-footer {
		background-color: transparent !important;
		a {
				color: white !important;
		}
	}
}
