@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

$icon-hover: #AEE239;
$font: 'Open Sans';
$go-font: 'Press Start 2P';
$selection: #deeeb9;
$selection-content: #94cc17;
$opt-hover: #B1B1B2;
