<section class="container">
  <br>

  <div class="chip tooltipped" data-position="bottom" data-delay="50" data-tooltip="Nível">
    <i class="fa fa-graduation-cap"></i>
    <span ng-show='p.questao[1].dificuldade == 1'>Graduação</span>
    <span ng-show='p.questao[1].dificuldade == 2'>Mestrado</span>
    <span ng-show='p.questao[1].dificuldade == 3'>Doutorado</span>
  </div>
  <div id="timer-chip" class="chip right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Tempo restante">
    <i class="fa fa-clock-o"></i>
    <span id="timer"></span>
  </div>
  <div class="chip right tooltipped" data-position="bottom" data-delay="50" data-tooltip="Vidas">
    <span ng-show='$root.lifes == 3'><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart"></i></span>
    <span ng-show='$root.lifes == 2'><i class="fa fa-heart"></i> <i class="fa fa-heart"></i> <i class="fa fa-heart-o"></i></span>
    <span ng-show='$root.lifes == 1'><i class="fa fa-heart"></i> <i class="fa fa-heart-o"></i> <i class="fa fa-heart-o"></i></span>
    <span ng-show='$root.lifes == 0'><i class="fa fa-heart-o"></i> <i class="fa fa-heart-o"></i> <i class="fa fa-heart-o"></i></span>
  </div>
  <br><br>

  <h5 class="center-align">Questão {{$root.pos}}</h5>
  <br>
  <p class="center-align">{{p.questao[2].pergunta}}</p>
  <br>
  <ul class="collection">
    <li id="{{p.respostas[0].id}}" class="collection-item opt">A) {{p.respostas[0].enunciado}}</li>
    <li id="{{p.respostas[1].id}}" class="collection-item opt">B) {{p.respostas[1].enunciado}}</li>
    <li id="{{p.respostas[2].id}}" class="collection-item opt">C) {{p.respostas[2].enunciado}}</li>
    <li id="{{p.respostas[3].id}}" class="collection-item opt">D) {{p.respostas[3].enunciado}}</li>
  </ul>

  <br>
  <div class="row">
    <div class="col s3 m2">
      <img id="ktn" class="tooltipped" src="./data/images/k-padrao.png" alt="" data-position="bottom" data-delay="50" data-tooltip="Ajuda"/>
    </div>
    <div class="col s9 m10">
      <div class="card-panel">
        <span id="ajuda">Precisa de ajuda?
        </span>
      </div>
      <audio id="a-correct">
        <source src="./data/audio/correct.wav" type="audio/wav">
      </audio>
      <audio id="a-wrong">
        <source src="./data/audio/wrong.wav" type="audio/wav">
      </audio>
      <audio id="a-gameover">
        <source src="./data/audio/gameover.wav" type="audio/wav">
      </audio>
      <audio id="a-countdown">
        <source src="./data/audio/countdown.mp3" type="audio/mp3">
      </audio>
    </div>
  </div>

  <a id="btn-proxima" href="/#/pergunta/{{next}}" style="visibility: hidden;" class="waves-effect waves-light btn right">Próxima <i class="material-icons right">done</i></a>

  <div id="game-over-modal" class="modal modal-fixed-footer z-depth-0">
    <div class="modal-content">
      <h2 class="center go">GAME OVER</h2>
      <br><br>
      <h4 class="go">Score: {{$root.score}}</h4>
      <br>
      <input type="text" class="go go-input" name="name" ng-model="$root.name" placeholder="Nome">
    </div>
    <div class="modal-footer">
      <a href="/#/ranking" class="modal-action modal-close waves-effect waves-light btn-flat go">Adicionar ao Ranking</a>
    </div>
  </div>
</section>
