<section class="container">
   <br>

   <div class="chip">
      <i class="fa fa-graduation-cap"></i>
      Graduação
   </div>
   <div class="chip">
      <i class="fa fa-book"></i>
      Mídias Virtuais
   </div>
   <div class="chip">
      <i class="fa fa-sitemap"></i>
      Ambiental
   </div>
   <div class="chip right">
      <i class="fa fa-clock-o"></i>
      1:47
   </div>
   <br><br>

   <h5 class="center-align">Questão 1</h5>
   <br>
   <p class="center-align">A inevitável devastação ambiental decorrente do processo de desenvolvimento industrial é um "quadro" que começa a se modificar a partir da defesa pública de um novo conceito: O DESENVOLVIMENTO SUSTENTÁVEL.
O uso dessa expressão tem a finalidade de:</p>
   <br>
   <div class="collection">
      <a id="a" href="#!" class="collection-item opt red lighten-4">A) sustentar a inevitável necessidade do desenvolvimento</a>
      <a id="b" href="#!" class="collection-item opt">B) garantir que o desenvolvimento contemporâneo não se sustenta</a>
      <a id="c" href="#!" class="collection-item opt">C) sustentar o meio ambiente em detrimento do desenvolvimento</a>
      <a id="d" href="#!" class="collection-item opt green lighten-4">D) propor a conciliação do desenvolvimento com o meio ambiente</a>
   </div>

   <br>
   <div class="row">
      <div class="col s3">
         <img src="http://placehold.it/200" alt="" />
      </div>
      <div class="col s9">
         <blockquote>
            Hmmm, não entendi sua pergunta. Mas acho que pode ser a A. Ou a B. Eu passei isso em sala de aula!
         </blockquote>
      </div>
    </div>

   <a class="waves-effect waves-light btn right">Próxima <i class="material-icons right">done</i></a>
</section>
