<div class="row">
  <canvas id="canvas" class="col s12"
  ></canvas>
</div>
<section class="container">
  <h3 class="center">Parabéns<span ng-show="$root.name">, {{$root.name}}</span>!</h3>

  <div class="row">
    <div class="col s12 m8 offset-m2">
      <p class="center">Aparentemente, ninguém é melhor que você quando o assunto é sustentabilidade! - só a Katti, claro. Coloque seu nome aqui, quem sabe seus <strong class="indigo-text">{{$root.score}} pontos</strong> fazem você aparecer no nosso Top 5?</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <input type="text" name="name" ng-model="$root.name" class="center">
    </div>
  </div>
  <div class="row center">
    <a ng-click="addToRanking()" class="waves-effect waves-light btn">Add e ver ranking</a>
  </div>
</section>
